* {
    font-family: Arial, Helvertica, Sans-serif;
    font-size: 16px;
}
bady {
    background-color: rgba(0, 255, 242, 0.603);

}
main {
    background-color: chocolate;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(11, 2, 34, 0.623);
}